
.hand2 {
    position: relative;
    bottom: 150px;
    height: 800px;
    width: 550px;
    left: 490px;
}

.TDWP {
    position: relative;
    height: 700px;
    width: 1529px;
    left: -4px;
    top: -8px;
}

.D {
    position: relative;
    height: 785px;
    width: 1529px;
    left: -4px;
    top: -8px;
}

.TBOBS {
    position: relative;
    height: 700px;
    width: 1529px;
    left: -4px;
    top: -8px;
}

.TBAM {
    position: relative;
    height: 700px;
    width: 1545px;
    left: -5px;
    top: -8px;
}

.GBTB {
    position: relative;
    height: 700px;
    width: 1529px;
    left: -5px;
    top: -8px;
}

.TSN {
    position: relative;
    height: 785px;
    width: 1529px;
    left: -5px;
    top: -8px;
}

.date{
    font-family: "Playfair Display", serif;
        font-weight: 300;
        font-style: normal;
}

.date2{
    font-family: "Chakra Petch", sans-serif;
}
.text1{
position: absolute;
top: 230px;
left: 580px;
font-size: 50px;
}

.text2{
    position: absolute;
    top: 315px;
    left: 495px;
    font-size: 40px;
}

.text3{
    position: absolute;
    top:400px;
    left: 430px;
    font-size: 20px;
}

.text4{
    position: absolute;
    top: 243px;
    left: 700px;
    font-size: 40px;
}

.text5{
    position: absolute;
    top: 315px;
    left: 460px;
    font-size: 40px;
}

.text6{
    position: absolute;
    top: 410px;
    left: 340px;
    font-size:20px;
}

.text7{
    position: absolute;
    top: 150px;
    left: 590px;
    font-size:40px;
}

.text8{
    position: absolute;
    top: 220px;
    left: 570px;
    font-size: 40px;
}

.text9{
    position: absolute;
    top: 305px;
    left: 660px;
    font-size: 25px;
}
